<div class="content">
    <h1>Welcome to Online Shop!</h1>
    <p>Discover the latest trends in fashion and shop for high-quality clothes at Online Shop. Whether you're looking for stylish dresses, comfortable loungewear, trendy accessories, or chic outerwear, we have it all. Our carefully curated collection ensures you'll find the perfect outfit for any occasion.</p>
    <p>At Online Shop, we are committed to providing a seamless and enjoyable shopping experience. Our user-friendly website makes browsing and shopping a breeze. We offer fast and reliable shipping, secure payment options, and a hassle-free return policy to ensure your satisfaction.</p>
    <p>Join our fashion-forward community today and stay up-to-date with the hottest styles and exclusive offers. Don't miss out on the chance to elevate your wardrobe and express your unique style with the finest clothing options available.</p>
    <a *ngIf="!isLoggedIn" class="happy-shopping-btn" routerLink="/login">Happy shopping!</a>
    <a *ngIf="isLoggedIn" class="happy-shopping-btn" routerLink="/catalog">Happy shopping!</a>
</div>