<div class="clothes-container" *ngIf="clothe">
    <div class="clothes-name-wrapper">
        <div class="clothes-name">
                <h2>{{clothe.name}}</h2>
            
            <div class="columns">
                <div class="clothes-image">
                    <img src="{{clothe.imageUrl}}" alt="{{clothe.name}} clothe">
                </div>
                <div class="clothes-info">
                    <p>Price: {{clothe.price}}</p>
                    <p>Size: {{clothe.size}}</p>
                    <p>Details</p>
                    <ul>
                        <li>{{clothe.details[0]}}</li>
                        <li>{{clothe.details[1]}}</li>
                        <li>{{clothe.details[2]}}</li>
                    </ul>
                    <button *ngIf="isLoggedIn" class="add-to-cart" (click)="addToCart(clothe)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <button class="back-btn" routerLink="/catalog">Back to catalog</button>
</div>

