.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-title{
    position: unset;
    margin-top: -100px;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 300px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 150px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 150px;
    padding-left: 400px;
    padding-right: 400px;
}

.center {
    text-align: center;
    margin-top: 100px;
}

.button-container {
    margin-top: 20px;
}

.shop-now {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.card-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cart-product {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.table-responsive th,
.table-responsive td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.table-responsive th {
    font-weight: bold;
}

.delete-btn {
    padding: 6px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add general styles for buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Style for the "Empty Cart" button */
.empty-cart {
    background-color: #ffc107;
    color: #000;
}

/* Style for the "Shop More" button */
.add-to-cart {
    background-color: #007bff;
    color: #fff;
}

/* Style for the "Check Out" button */
.buy-now {
    background-color: #28a745;
    color: #fff;
}

