
.clothes-name-wrapper {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .clothes-name {
    flex: 1;
  }
  
  
  .clothes-name a {
    text-decoration: none;
    color: #333;
  }
  
  
  .clothes-name h2 {
    margin: 0;
  }
  
  
  .columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  
  .clothes-image img {
    max-width: 100px;
    height: auto;
    transition: 0.3s ease-in-out;
  }


  .clothes-image:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
  
  
  .clothes-info {
    text-align: right;
  }
  
  
  .clothes-info p:first-child {
    margin-top: 0;
  }
  
  
  .clothes-info p:last-child {
    margin-bottom: 0;
  }
   


  